<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tistory.f5074.spring_boot.mapper.EquipmentMapper">
	<select id="selectEqpMst" parameterType="hashmap" resultType="hashmap">
		SELECT EMST.SITE
			, EMST.EQP_ID
			, EMST.EQP_NO
			, EMST.EQP_GROUP
			, EMST.CIM_EQP_DESC AS EQP_DESC
			, EMST.CIM_EQP_TYPE
			, EMST.EQP_IP
			, EMST.ROBOT_IP
			, EMST.FUNAC_IP
			, EMST.USE_YN
			, EMST.CREATE_USER
			, EMST.CREATE_TIME
			, EMST.UPDATE_USER
			, EMST.UPDATE_TIME
		FROM CIM_EQP_MST@CIMORA EMST
	</select>
	<select id="selectEqpMaxLoad" parameterType="hashmap" resultType="hashmap">
		SELECT ELOAD.SITE
			, ELOAD.EQP_ID
			, ELOAD.EQP_NO
			, TO_CHAR(TO_TIMESTAMP(ELOAD.PER_MIN, 'YYYYMMDD HH24MISSFF3'),'YYYYMMDD HH24MI') AS PER_MIN
			, ELOAD.ITEM_SPEC
			, ELOAD.EQP_PART_NUMBER
			, ELOAD.ITEM_CD
			, ELOAD.ITEM_DESC
			, ELOAD.ITEM_VALUE
			, ELOAD.CREATE_TIME
			, ELOAD.ITEM_AVG
			, ELOAD.ITEM_RNG
			, EMST.EQP_DESC
		 FROM EQP_MAX_LOAD@CIMORA ELOAD
		INNER JOIN EQP_MST EMST ON EMST.EQP_ID = ELOAD.EQP_ID
		WHERE 1 = 1
			AND ELOAD.EQP_ID = #{EQP_ID}
		<if test="ITEM_CD != null and ITEM_CD != ''">
			AND ELOAD.ITEM_CD = #{ITEM_CD}
		</if>
			AND TO_CHAR(TO_TIMESTAMP(ELOAD.PER_MIN, 'YYYYMMDD HH24MISSFF3'),'YYYYMMDDHH24') > #{START_DT}
			AND TO_CHAR(TO_TIMESTAMP(ELOAD.PER_MIN, 'YYYYMMDD HH24MISSFF3'),'YYYYMMDDHH24') <![CDATA[<]]> #{END_DT}
		ORDER BY TO_CHAR(TO_TIMESTAMP(ELOAD.PER_MIN, 'YYYYMMDD HH24MISSFF3'),'HH24:MI') ASC
	</select>
	<select id="selectEqpCdSpec" parameterType="hashmap" resultType="hashmap">
		SELECT ECD.ITEM_CD
			 , ECD.ITEM_DESC
		 FROM EQP_CD_SPEC@CIMORA ECD
		WHERE 1 = 1
		<if test="EQP_ID != null and EQP_ID != ''">
		  AND ECD.EQP_ID = #{EQP_ID}
		</if>
		GROUP BY ECD.ITEM_CD, ECD.ITEM_DESC
		ORDER BY ECD.ITEM_CD
	</select>
	<select id="selectEqpSrcData" parameterType="hashmap" resultType="hashmap">
		SELECT SRC.SITE
			, SRC.EQP_ID
			, SRC.EQP_NO
			, SRC.CUR_TIME
			, SRC.ITEM_SPEC
			, SRC.EQP_PART_NUMBER
			, SRC.ITEM_CD
			, SRC.ITEM_DESC
			, SRC.ITEM_VALUE
			, SRC.CREATE_TIME
		FROM EQP_SRC_DATA@CIMORA SRC
		WHERE 1 = 1
		  AND EQP_ID = #{EQP_ID}
		AND ITEM_CD IN <foreach collection="ITEM_CD" item="item"  open="(" close=")" separator=",">#{item}</foreach>
		  AND TO_CHAR(TO_TIMESTAMP(SRC.CUR_TIME, 'YYYYMMDD HH24MISSFF3'), 'YYYYMMDD HH24MI') > #{START_DT}
		  AND TO_CHAR(TO_TIMESTAMP(SRC.CUR_TIME, 'YYYYMMDD HH24MISSFF3'), 'YYYYMMDD HH24MI') <![CDATA[<]]> #{END_DT}
		ORDER BY TO_CHAR(TO_TIMESTAMP(SRC.CUR_TIME, 'YYYYMMDD HH24MISSFF3'), 'YYYYMMDD HH24MISS') DESC
	</select>
</mapper>