<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tistory.f5074.spring_boot.mapper.EquipmentMapper">
	<select id="selectEqpMst" parameterType="hashmap" resultType="hashmap">
		/* selectEqpMst */
		SELECT EMST.PLANT_CODE AS SITE
			, EMST.EQP_ID
			, EMST.EQP_NO
			, EMST.EQP_TYPE
			, EMST.EQP_DESC AS EQP_DESC
		FROM EQP_MST EMST
		INNER JOIN CIM_EQP_MST CEMST ON CEMST.SITE = EMST.PLANT_CODE AND CEMST.EQP_ID = EMST.EQP_ID AND CEMST.EQP_NO = EMST.EQP_NO
		WHERE 1 = 1
		   AND EMST.PLANT_CODE = #{SITE}
		<if test="DEPT_CODE != null and DEPT_CODE != ''">
			AND EMST.DEPT_CODE = #{DEPT_CODE}
		</if>
		<if test="WORK_CENTER != null and WORK_CENTER != ''" >
			AND EMST.WORK_CENTER IN <foreach collection="WORK_CENTER" item="item"  open="(" close=")" separator=",">#{item}</foreach>
		</if>
		  AND EMST.EQP_TYPE = 'M'
		  AND CEMST.USE_YN = 'Y'
	</select>

	<select id="selectEqpMaxLoad" parameterType="hashmap" resultType="hashmap">
		/* selectEqpMaxLoad */
		SELECT ELOAD.SITE
			, ELOAD.EQP_ID
			, ELOAD.EQP_NO
			, TO_CHAR(TO_TIMESTAMP(ELOAD.PER_MIN, 'YYYYMMDD HH24MISSFF3'), 'YYYYMMDDHH24MI') AS PER_MIN
			, ELOAD.ITEM_SPEC
			, ELOAD.EQP_PART_NUMBER
			, ELOAD.ITEM_CD
			, ELOAD.ITEM_DESC
			, ELOAD.ITEM_VALUE
			, ELOAD.CREATE_TIME
			, ELOAD.ITEM_AVG
			, ELOAD.ITEM_RNG
			<if test="EQP_DESC != null and EQP_DESC != ''">
			, #{EQP_DESC} EQP_DESC
			</if>
		FROM EQP_MAX_LOAD@CIMORA ELOAD
		WHERE 1 = 1
		AND ELOAD.SITE = #{SITE}
		<if test="EQP_ID != null and EQP_ID != ''">
		AND ELOAD.EQP_ID = #{EQP_ID}
		</if>
		<if test="PART_NUMBER != null and PART_NUMBER != ''">
		AND ELOAD.EQP_PART_NUMBER = #{PART_NUMBER}
		</if>
		<if test="START_DT != null and START_DT != ''">
		AND TO_CHAR(TO_TIMESTAMP(ELOAD.PER_MIN, 'YYYYMMDD HH24MISSFF3'),'YYYYMMDDHH24') > #{START_DT}
		</if>
		<if test="END_DT != null and END_DT != ''">
		AND TO_CHAR(TO_TIMESTAMP(ELOAD.PER_MIN, 'YYYYMMDD HH24MISSFF3'),'YYYYMMDDHH24') <![CDATA[<]]> #{END_DT}
		</if>
		ORDER BY TO_CHAR(TO_TIMESTAMP(ELOAD.PER_MIN, 'YYYYMMDD HH24MISSFF3'),'HH24:MI') ASC
	</select>
	<select id="selectEqpCdSpec" parameterType="hashmap" resultType="hashmap">
		/* selectEqpCdSpec */
		SELECT ECD.ITEM_CD
			 , ECD.ITEM_DESC
		 FROM EQP_CD_SPEC@CIMORA ECD
		WHERE 1 = 1
		<if test="EQP_ID != null and EQP_ID != ''">
		  AND ECD.EQP_ID = #{EQP_ID}
		</if>
		GROUP BY ECD.ITEM_CD, ECD.ITEM_DESC
		ORDER BY ECD.ITEM_CD
	</select>
	<select id="selectEqpSrcData" parameterType="hashmap" resultType="hashmap">
		/* selectEqpSrcData */
		SELECT SRC.SITE
			, SRC.EQP_ID
			, SRC.EQP_NO
		<if test="EQP_DESC != null and EQP_DESC != ''">
			, #{EQP_DESC} EQP_DESC
		</if>
			, SRC.CUR_TIME
			, SRC.ITEM_SPEC
			, SRC.EQP_PART_NUMBER
			, SRC.ITEM_CD
			, SRC.ITEM_DESC
			, SRC.ITEM_VALUE
			, SRC.CREATE_TIME
		FROM EQP_SRC_DATA@CIMORA SRC
		WHERE 1 = 1
		<if test="SITE != null and SITE != ''" >
		  AND SRC.SITE = #{SITE}
		</if>
		<if test="EQP_ID != null and EQP_ID != ''" >
		  AND SRC.EQP_ID = #{EQP_ID}
		</if>
		<if test="ITEM_CD != null and ITEM_CD != ''" >
		  AND SRC.ITEM_CD IN <foreach collection="ITEM_CD" item="item"  open="(" close=")" separator=",">#{item}</foreach>
		</if>
		  AND TO_CHAR(TO_TIMESTAMP(SRC.CUR_TIME, 'YYYYMMDD HH24MISSFF3'), 'YYYYMMDD HH24MISS') > #{START_DT}
		  AND TO_CHAR(TO_TIMESTAMP(SRC.CUR_TIME, 'YYYYMMDD HH24MISSFF3'), 'YYYYMMDD HH24MISS') <![CDATA[<]]> #{END_DT}
		ORDER BY TO_CHAR(TO_TIMESTAMP(SRC.CUR_TIME, 'YYYYMMDD HH24MISSFF3'), 'YYYYMMDD HH24MISS') DESC
	</select>

	<select id="selectEqpPartNumber" parameterType="hashmap" resultType="hashmap">
		/* selectEqpPartNumber */
		 SELECT ELOAD.EQP_ID
			  , ELOAD.ITEM_SPEC
			  , ELOAD.EQP_PART_NUMBER AS PART_NUMBER
			  , MIN(TO_CHAR(TO_TIMESTAMP(ELOAD.PER_MIN, 'YYYYMMDD HH24MISSFF3'), 'YYYYMMDDHH24MISS')) AS MIN_DT
			  , MAX(TO_CHAR(TO_TIMESTAMP(ELOAD.PER_MIN, 'YYYYMMDD HH24MISSFF3'), 'YYYYMMDDHH24MISS')) AS MAX_DT
		   FROM EQP_MAX_LOAD@CIMORA ELOAD
		 WHERE 1 = 1
			<if test="SITE != null and SITE != ''">
			 AND ELOAD.SITE = #{SITE}
			 </if>
			 <if test="EQP_ID != null and EQP_ID != ''">
			 AND ELOAD.EQP_ID = #{EQP_ID}
			 </if>
			 <if test="START_DT != null and START_DT != ''">
			 AND TO_CHAR(TO_TIMESTAMP(ELOAD.PER_MIN, 'YYYYMMDD HH24MISSFF3'), 'YYYYMMDDHH24MISS') > #{START_DT}
			 </if>
			 <if test="END_DT != null and END_DT != ''">
			 AND TO_CHAR(TO_TIMESTAMP(ELOAD.PER_MIN, 'YYYYMMDD HH24MISSFF3'), 'YYYYMMDDHH24MISS') <![CDATA[<]]> #{END_DT}
			 </if>
		 GROUP BY ELOAD.EQP_ID, ELOAD.ITEM_SPEC, ELOAD.EQP_PART_NUMBER, TO_CHAR(TO_TIMESTAMP(ELOAD.PER_MIN, 'YYYYMMDD HH24MISSFF3'), 'YYYYMMDD')
		 ORDER BY MIN(TO_CHAR(TO_TIMESTAMP(ELOAD.PER_MIN, 'YYYYMMDD HH24MISSFF3'), 'YYYYMMDD HH24MISSFF3')) ASC
	</select>
	<select id="selectEqpDeptMst" parameterType="hashmap" resultType="hashmap">
		/* selectEqpDeptMst */
		 SELECT DMST.CORP_CODE
				, DMST.DEPT_CODE
				, DMST.DEPT_NAME
				, DMST.DEPT_ALIAS
				, DMST.SUBAREA_CODE
				, DMST.SUBAREA_DESC
				, DMST.BEGIN_DATE
				, DMST.END_DATE
				, DMST.USE_FLAG
				, DMST.DEPT_LEVEL
				, DMST.WC_FLAG
				, DMST.CREATE_DATE_TIME
			FROM DEPT_MST DMST
			WHERE 1 = 1
			AND DMST.DEPT_CODE IN (
				SELECT GENE_CD
					FROM T_CD_GENE_DATA
				WHERE 1 = 1
		<if test="GENE_DV != null and GENE_DV != ''">
		  AND GENE_DV = #{GENE_DV}
		</if>
		AND USE_YN = 'Y')
	</select>

	<select id="selectEqpWorkCenter" parameterType="hashmap" resultType="hashmap">
		/* selectEqpWorkCenter */
		SELECT WCEN.PLANT_CODE AS SITE
			 , WCEN.WORK_CENTER
			 , WCEN.WORK_CENTER_NAME
			 , WCEN.DEPT_CODE
			 , WCEN.LOAD_EST_BASE
			 , WCEN.WORK_CENTER_TYPE
			 , WCEN.RUN_TYPE
			 , WCEN.BATCH_SIZE
			 , WCEN.CREATE_DATE_TIME
			 , WCEN.RECORD_INPUT_TYPE
			 , WCEN.WEIGH_FLAG
		  FROM WORK_CENTER WCEN
		 WHERE 1 = 1
		   AND WCEN.PLANT_CODE = #{SITE}
		<if test="DEPT_CODE != null and DEPT_CODE != ''" >
		   AND WCEN.DEPT_CODE = #{DEPT_CODE}
		</if>
		ORDER BY WCEN.PLANT_CODE, WCEN.WORK_CENTER
	</select>
	<select id="selectEqpPerfPop" parameterType="hashmap" resultType="hashmap">
		/* selectEqpPerfPop */
		SELECT EQP_ID
		 , SUBSTR(TRACKOUTDT, 1, 8) CUR_DT
		 , SUM(CURRENT_QTY) POP_QTY
		 , 0 CIM_QTY
		 , MAX(EQP_DESC) EQP_DESC
		FROM (
		   SELECT WIP_LOT_PROCESS.SITE
				, WIP_LOT.EQP_ID
				, EQP_MST.EQP_DESC EQP_DESC
				, WIP_LOT_PROCESS.TRANS_DATE_TIME
				, WIP_LOT.ORDER_QTY
				, WIP_LOT.CURRENT_QTY
				, WIP_LOT.END_QTY
				, SUBSTR(WIP_LOT_PROCESS.TRACKIN_DATE_TIME, 1, 8) TRACKIN_DT
				, SUBSTR(WIP_LOT_PROCESS.TRACKOUT_DATE_TIME, 1, 8) TRACKOUTDT
			FROM WIP_LOT
			INNER JOIN WIP_LOT_PROCESS ON WIP_LOT_PROCESS.LOT_ID = WIP_LOT.LOT_ID AND WIP_LOT_PROCESS.SITE = WIP_LOT.SITE
			INNER JOIN EQP_MST 	ON EQP_MST.PLANT_CODE = WIP_LOT.SITE AND EQP_MST.EQP_ID = WIP_LOT.EQP_ID
--			INNER JOIN CIM_EQP_MST ON EQP_MST.PLANT_CODE = CIM_EQP_MST.SITE AND EQP_MST.EQP_ID = CIM_EQP_MST.EQP_ID AND EQP_MST.EQP_NO = CIM_EQP_MST.EQP_NO AND CIM_EQP_MST.USE_YN = 'Y'
			INNER JOIN WORK_CENTER 	ON WORK_CENTER.PLANT_CODE = WIP_LOT.SITE AND WORK_CENTER.WORK_CENTER = WIP_LOT.WORK_CENTER
			INNER JOIN DEPT_MST 	ON DEPT_MST.DEPT_CODE = WORK_CENTER.DEPT_CODE
			WHERE 1 = 1
				AND WIP_LOT.SITE = #{SITE}
				AND WIP_LOT_PROCESS.CANCEL_FLAG = 'F'
				AND WIP_LOT_PROCESS.TRACKOUT_DATE_TIME > TO_CHAR(TO_TIMESTAMP(#{START_DT} ,'YYYYMMDDHH24MI'), 'YYYYMMDD HH24MISSFF3')
				AND WIP_LOT_PROCESS.TRACKOUT_DATE_TIME <![CDATA[<]]> TO_CHAR(TO_TIMESTAMP(#{END_DT} ,'YYYYMMDDHH24MI'), 'YYYYMMDD HH24MISSFF3')
			<if test="DEPT_CODE != null and DEPT_CODE != ''">
				AND DEPT_MST.DEPT_CODE = #{DEPT_CODE}
			</if>
			<if test="WORK_CENTER != null and WORK_CENTER != ''" >
				AND WORK_CENTER.WORK_CENTER IN <foreach collection="WORK_CENTER" item="item"  open="(" close=")" separator=",">#{item}</foreach>
			</if>
			<if test="EQP_ID != null and WORK_CENTER != ''" >
				AND WIP_LOT.EQP_ID IN <foreach collection="EQP_ID" item="item"  open="(" close=")" separator=",">#{item}</foreach>
			</if>
		)
		GROUP BY SUBSTR(TRACKOUTDT, 1, 8), EQP_ID
	</select>

	<select id="selectEqpPerfCim" parameterType="hashmap" resultType="hashmap">
		/* selectEqpPerfCim */
		SELECT ECHN.EQP_ID
			 , SUBSTR(ECHN.CUR_TIME, 1, 8) CUR_DT
			 , SUM(GQTY) CIM_QTY
			 , 0 POP_QTY
			 , MAX((SELECT EQP_DESC FROM EQP_MST WHERE PLANT_CODE = ECHN.SITE AND EQP_ID = ECHN.EQP_ID)) EQP_DESC
		  FROM EQP_CNT_HIS_NOW@CIMORA ECHN
		 WHERE 1 = 1
		   AND ECHN.SITE = #{SITE}
		   AND ECHN.CUR_TIME > TO_CHAR(TO_TIMESTAMP(#{START_DT} ,'YYYYMMDDHH24MI'), 'YYYYMMDD HH24MISSFF3')
		   AND ECHN.CUR_TIME <![CDATA[<]]> TO_CHAR(TO_TIMESTAMP(#{END_DT} ,'YYYYMMDDHH24MI'), 'YYYYMMDD HH24MISSFF3')
		GROUP BY SUBSTR(ECHN.CUR_TIME, 1, 8), ECHN.EQP_ID
		ORDER BY SUBSTR(ECHN.CUR_TIME, 1, 8), ECHN.EQP_ID
	</select>
	<select id="selectEqpSetupPerf" parameterType="hashmap" resultType="hashmap">
		/* selectEqpSetupPerf */
		SELECT SITE
			, CUR_DT
			, EQP_ID
			, EQP_DESC
			, EQP_NO
			, STATUS_D
			, (
				SELECT GENE_CD_DESC
				FROM T_CD_GENE_DATA
				WHERE GENE_DV = 'STAT_EQP_SET'
					AND GENE_CD = STATUS_D
				) AS STATUS_D_DESC
			, COUNT(STATUS_D) AS D_CNT
		FROM (
			SELECT EHIS.SITE
				, EHIS.EQP_ID
				, EHIS.EQP_NO
				, SUBSTR(EHIS.CUR_TIME, 1, 8) CUR_DT
				, EHIS.STATUS
				, EHIS.STATUS_D
				, EMST.EQP_DESC
			FROM EQP_MODE_GEN_HIST EHIS
			INNER JOIN EQP_MST EMST ON EMST.PLANT_CODE = EHIS.SITE
				AND EMST.EQP_ID = EHIS.EQP_ID
				AND EMST.EQP_NO = EHIS.EQP_NO
			INNER JOIN WORK_CENTER WC ON WC.PLANT_CODE = EHIS.SITE
				AND WC.WORK_CENTER = EHIS.WORK_CENTER
			INNER JOIN DEPT_MST DEPT ON DEPT.DEPT_CODE = WC.DEPT_CODE
			WHERE 1 = 1
				AND EHIS.STATUS_D IS NOT NULL
				AND EHIS.STATUS = 'SETUP'
				AND EHIS.SITE = #{SITE}
			<if test="DEPT_CODE != null and DEPT_CODE != ''">
				AND DEPT.DEPT_CODE = #{DEPT_CODE}
			</if>
			<if test="WORK_CENTER != null and WORK_CENTER != ''" >
				AND EHIS.WORK_CENTER IN <foreach collection="WORK_CENTER" item="item"  open="(" close=")" separator=",">#{item}</foreach>
			</if>
			<if test="EQP_ID != null and WORK_CENTER != ''" >
				AND EHIS.EQP_ID IN <foreach collection="EQP_ID" item="item"  open="(" close=")" separator=",">#{item}</foreach>
			</if>
				AND EHIS.STATUS_D IN ('ChangeMold', 'ChangePowder', 'SampleProduction')
				AND EHIS.CUR_TIME > TO_CHAR(TO_TIMESTAMP(#{START_DT}, 'YYYYMMDDHH24MI'), 'YYYYMMDD HH24MISSFF3')
				AND EHIS.CUR_TIME <![CDATA[<]]> TO_CHAR(TO_TIMESTAMP(#{END_DT}, 'YYYYMMDDHH24MI'), 'YYYYMMDD HH24MISSFF3')
			)
		GROUP BY SITE, CUR_DT, EQP_DESC, EQP_NO, EQP_ID, STATUS, STATUS_D
		ORDER BY SITE, CUR_DT, EQP_DESC ASC, EQP_NO, EQP_ID, STATUS, DECODE(STATUS_D, 'ChangePowder', 1, 'ChangeMold', 2, 'SampleProduction', 3)
	</select>
	<select id="selectEqpSetupPerfSum" parameterType="hashmap" resultType="hashmap">
		/* selectEqpSetupPerfSum */
		WITH TB_BASE AS (
			   SELECT SITE
					, CUR_DT
					, EQP_ID
					, EQP_DESC
					, EQP_NO
					, STATUS_D
					, COUNT(STATUS_D) AS D_CNT
				FROM (
					SELECT EHIS.SITE
						, EHIS.EQP_ID
						, EHIS.EQP_NO
						, SUBSTR(EHIS.CUR_TIME, 1, 8) CUR_DT
						, EHIS.STATUS
						, EHIS.STATUS_D
						, EMST.EQP_DESC
					FROM EQP_MODE_GEN_HIST EHIS
					INNER JOIN EQP_MST EMST ON EMST.PLANT_CODE = EHIS.SITE
						AND EMST.EQP_ID = EHIS.EQP_ID
						AND EMST.EQP_NO = EHIS.EQP_NO
					INNER JOIN WORK_CENTER WC ON WC.PLANT_CODE = EHIS.SITE
						AND WC.WORK_CENTER = EHIS.WORK_CENTER
					INNER JOIN DEPT_MST DEPT ON DEPT.DEPT_CODE = WC.DEPT_CODE
					WHERE 1 = 1
						AND EHIS.STATUS_D IS NOT NULL
						AND EHIS.STATUS = 'SETUP'
						AND EHIS.SITE = #{SITE}
					<if test="DEPT_CODE != null and DEPT_CODE != ''">
						AND DEPT.DEPT_CODE = #{DEPT_CODE}
					</if>
					<if test="WORK_CENTER != null and WORK_CENTER != ''" >
						AND EHIS.WORK_CENTER IN <foreach collection="WORK_CENTER" item="item"  open="(" close=")" separator=",">#{item}</foreach>
					</if>
					<if test="EQP_ID != null and WORK_CENTER != ''" >
						AND EHIS.EQP_ID IN <foreach collection="EQP_ID" item="item"  open="(" close=")" separator=",">#{item}</foreach>
					</if>
						AND EHIS.STATUS_D IN ('ChangeMold', 'ChangePowder', 'SampleProduction')
						AND EHIS.CUR_TIME > TO_CHAR(TO_TIMESTAMP('202101210000', 'YYYYMMDDHH24MI'), 'YYYYMMDD HH24MISSFF3')
						AND EHIS.CUR_TIME <![CDATA[<]]>  TO_CHAR(TO_TIMESTAMP('202101252359', 'YYYYMMDDHH24MI'), 'YYYYMMDD HH24MISSFF3')
					)
				GROUP BY SITE, CUR_DT, EQP_DESC, EQP_NO, EQP_ID, STATUS, STATUS_D
				ORDER BY SITE, CUR_DT, EQP_DESC ASC, EQP_NO, EQP_ID, STATUS, DECODE(STATUS_D, 'ChangePowder', 1, 'ChangeMold', 2, 'SampleProduction', 3)
		 )
		SELECT SITE, CUR_DT, EQP_ID, EQP_DESC, EQP_NO, NVL(MOLD,0) MOLD, NVL(POWDER,0) POWDER, NVL(PROD, 0) PROD, NVL(MOLD + POWDER, 0) SUM_CNT
		  FROM (
		SELECT *
		   FROM TB_BASE
		 PIVOT (SUM(D_CNT) FOR STATUS_D IN ('ChangeMold' AS "MOLD", 'ChangePowder' AS "POWDER", 'SampleProduction' AS "PROD"))
		)
		ORDER BY EQP_DESC, CUR_DT
	</select>

</mapper>


