<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tistory.f5074.spring_boot.mapper.EquipmentMapper">
	<select id="selectEqpMst" parameterType="hashmap" resultType="hashmap">
		/* selectEqpMst */
		SELECT EMST.PLANT_CODE AS SITE
			, EMST.EQP_ID
			, EMST.EQP_NO
			, EMST.EQP_TYPE
			, EMST.EQP_DESC AS EQP_DESC
		FROM EQP_MST EMST
		INNER JOIN CIM_EQP_MST CEMST ON CEMST.SITE = EMST.PLANT_CODE AND CEMST.EQP_ID = EMST.EQP_ID AND CEMST.EQP_NO = EMST.EQP_NO
		<if test="SITE != null and SITE != ''">
			WHERE EMST.PLANT_CODE = #{SITE}
		</if>
		<if test="DEPT_CODE != null and DEPT_CODE != ''">
			AND EMST.DEPT_CODE = #{DEPT_CODE}
		</if>
		<if test="WORK_CENTER != null and WORK_CENTER != ''" >
			AND EMST.WORK_CENTER IN <foreach collection="WORK_CENTER" item="item"  open="(" close=")" separator=",">#{item}</foreach>
		</if>
		  AND EMST.EQP_TYPE = 'M'
		  AND CEMST.USE_YN = 'Y'
	</select>

	<select id="selectEqpMaxLoad" parameterType="hashmap" resultType="hashmap">
		/* selectEqpMaxLoad */
		SELECT ELOAD.SITE
			, ELOAD.EQP_ID
			, ELOAD.EQP_NO
			, TO_CHAR(TO_TIMESTAMP(ELOAD.PER_MIN, 'YYYYMMDD HH24MISSFF3'), 'YYYYMMDDHH24MI') AS PER_MIN
			, ELOAD.ITEM_SPEC
			, ELOAD.EQP_PART_NUMBER
			, ELOAD.ITEM_CD
			, ELOAD.ITEM_DESC
			, ELOAD.ITEM_VALUE
			, ELOAD.CREATE_TIME
			, ELOAD.ITEM_AVG
			, ELOAD.ITEM_RNG
			<if test="EQP_DESC != null and EQP_DESC != ''">
			, #{EQP_DESC} EQP_DESC
			</if>
		FROM EQP_MAX_LOAD@CIMORA ELOAD
		WHERE 1 = 1
		<if test="SITE != null and SITE != ''">
		AND ELOAD.SITE = #{SITE}
		</if>
		<if test="EQP_ID != null and EQP_ID != ''">
		AND ELOAD.EQP_ID = #{EQP_ID}
		</if>
		<if test="PART_NUMBER != null and PART_NUMBER != ''">
		AND ELOAD.EQP_PART_NUMBER = #{PART_NUMBER}
		</if>
		<if test="START_DT != null and START_DT != ''">
		AND TO_CHAR(TO_TIMESTAMP(ELOAD.PER_MIN, 'YYYYMMDD HH24MISSFF3'),'YYYYMMDDHH24') > #{START_DT}
		</if>
		<if test="END_DT != null and END_DT != ''">
		AND TO_CHAR(TO_TIMESTAMP(ELOAD.PER_MIN, 'YYYYMMDD HH24MISSFF3'),'YYYYMMDDHH24') <![CDATA[<]]> #{END_DT}
		</if>
		ORDER BY TO_CHAR(TO_TIMESTAMP(ELOAD.PER_MIN, 'YYYYMMDD HH24MISSFF3'),'HH24:MI') ASC
	</select>
	<select id="selectEqpCdSpec" parameterType="hashmap" resultType="hashmap">
		/* selectEqpCdSpec */
		SELECT ECD.ITEM_CD
			 , ECD.ITEM_DESC
		 FROM EQP_CD_SPEC@CIMORA ECD
		WHERE 1 = 1
		<if test="EQP_ID != null and EQP_ID != ''">
		  AND ECD.EQP_ID = #{EQP_ID}
		</if>
		GROUP BY ECD.ITEM_CD, ECD.ITEM_DESC
		ORDER BY ECD.ITEM_CD
	</select>
	<select id="selectEqpSrcData" parameterType="hashmap" resultType="hashmap">
		/* selectEqpSrcData */
		SELECT SRC.SITE
			, SRC.EQP_ID
			, SRC.EQP_NO
		<if test="EQP_DESC != null and EQP_DESC != ''">
			, #{EQP_DESC} EQP_DESC
		</if>
			, SRC.CUR_TIME
			, SRC.ITEM_SPEC
			, SRC.EQP_PART_NUMBER
			, SRC.ITEM_CD
			, SRC.ITEM_DESC
			, SRC.ITEM_VALUE
			, SRC.CREATE_TIME
		FROM EQP_SRC_DATA@CIMORA SRC
		WHERE 1 = 1
		<if test="SITE != null and SITE != ''" >
		  AND SRC.SITE = #{SITE}
		</if>
		<if test="EQP_ID != null and EQP_ID != ''" >
		  AND SRC.EQP_ID = #{EQP_ID}
		</if>
		<if test="ITEM_CD != null and ITEM_CD != ''" >
		  AND SRC.ITEM_CD IN <foreach collection="ITEM_CD" item="item"  open="(" close=")" separator=",">#{item}</foreach>
		</if>
		  AND TO_CHAR(TO_TIMESTAMP(SRC.CUR_TIME, 'YYYYMMDD HH24MISSFF3'), 'YYYYMMDD HH24MISS') > #{START_DT}
		  AND TO_CHAR(TO_TIMESTAMP(SRC.CUR_TIME, 'YYYYMMDD HH24MISSFF3'), 'YYYYMMDD HH24MISS') <![CDATA[<]]> #{END_DT}
		ORDER BY TO_CHAR(TO_TIMESTAMP(SRC.CUR_TIME, 'YYYYMMDD HH24MISSFF3'), 'YYYYMMDD HH24MISS') DESC
	</select>

	<select id="selectEqpPartNumber" parameterType="hashmap" resultType="hashmap">
		/* selectEqpPartNumber */
		 SELECT ELOAD.EQP_ID
			  , ELOAD.ITEM_SPEC
			  , ELOAD.EQP_PART_NUMBER AS PART_NUMBER
			  , MIN(TO_CHAR(TO_TIMESTAMP(ELOAD.PER_MIN, 'YYYYMMDD HH24MISSFF3'), 'YYYYMMDDHH24MISS')) AS MIN_DT
			  , MAX(TO_CHAR(TO_TIMESTAMP(ELOAD.PER_MIN, 'YYYYMMDD HH24MISSFF3'), 'YYYYMMDDHH24MISS')) AS MAX_DT
		   FROM EQP_MAX_LOAD@CIMORA ELOAD
		 WHERE 1 = 1
			<if test="SITE != null and SITE != ''">
			 AND ELOAD.SITE = #{SITE}
			 </if>
			 <if test="EQP_ID != null and EQP_ID != ''">
			 AND ELOAD.EQP_ID = #{EQP_ID}
			 </if>
			 <if test="START_DT != null and START_DT != ''">
			 AND TO_CHAR(TO_TIMESTAMP(ELOAD.PER_MIN, 'YYYYMMDD HH24MISSFF3'), 'YYYYMMDDHH24MISS') > #{START_DT}
			 </if>
			 <if test="END_DT != null and END_DT != ''">
			 AND TO_CHAR(TO_TIMESTAMP(ELOAD.PER_MIN, 'YYYYMMDD HH24MISSFF3'), 'YYYYMMDDHH24MISS') <![CDATA[<]]> #{END_DT}
			 </if>
		 GROUP BY ELOAD.EQP_ID, ELOAD.ITEM_SPEC, ELOAD.EQP_PART_NUMBER, TO_CHAR(TO_TIMESTAMP(ELOAD.PER_MIN, 'YYYYMMDD HH24MISSFF3'), 'YYYYMMDD')
		 ORDER BY MIN(TO_CHAR(TO_TIMESTAMP(ELOAD.PER_MIN, 'YYYYMMDD HH24MISSFF3'), 'YYYYMMDD HH24MISSFF3')) ASC
	</select>
	<select id="selectEqpDeptMst" parameterType="hashmap" resultType="hashmap">
		/* selectEqpDeptMst */
		 SELECT DMST.CORP_CODE
				, DMST.DEPT_CODE
				, DMST.DEPT_NAME
				, DMST.DEPT_ALIAS
				, DMST.SUBAREA_CODE
				, DMST.SUBAREA_DESC
				, DMST.BEGIN_DATE
				, DMST.END_DATE
				, DMST.USE_FLAG
				, DMST.DEPT_LEVEL
				, DMST.WC_FLAG
				, DMST.CREATE_DATE_TIME
			FROM DEPT_MST DMST
			WHERE 1 = 1
			AND DMST.DEPT_CODE IN (
				SELECT GENE_CD
					FROM T_CD_GENE_DATA
				WHERE 1 = 1
		<if test="GENE_DV != null and GENE_DV != ''">
		  AND GENE_DV = #{GENE_DV}
		</if>
		AND USE_YN = 'Y')
	</select>

	<select id="selectEqpWorkCenter" parameterType="hashmap" resultType="hashmap">
		/* selectEqpWorkCenter */
		SELECT WCEN.PLANT_CODE AS SITE
			 , WCEN.WORK_CENTER
			 , WCEN.WORK_CENTER_NAME
			 , WCEN.DEPT_CODE
			 , WCEN.LOAD_EST_BASE
			 , WCEN.WORK_CENTER_TYPE
			 , WCEN.RUN_TYPE
			 , WCEN.BATCH_SIZE
			 , WCEN.CREATE_DATE_TIME
			 , WCEN.RECORD_INPUT_TYPE
			 , WCEN.WEIGH_FLAG
		  FROM WORK_CENTER WCEN
		 WHERE 1 = 1
		<if test="SITE != null and SITE != ''" >
		   AND WCEN.PLANT_CODE = #{SITE}
		</if>
		<if test="DEPT_CODE != null and DEPT_CODE != ''" >
		   AND WCEN.DEPT_CODE = #{DEPT_CODE}
		</if>
		ORDER BY WCEN.PLANT_CODE, WCEN.WORK_CENTER
	</select>
</mapper>