<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tistory.f5074.spring_boot.mapper.StatisticalProcessControlMapper">
	<select id="SPC_CHART_HISTOGRAM_SELECT" parameterType="hashmap" resultType="hashmap">
		/* SPC_CHART_HISTOGRAM_SELECT */
		SELECT MA.LOT_ID
			, MA.PROCESS_NAME
			, MA.ITEM_CD
			, MA.ITEM_SEQ
			, MA.USL
			, MA.LSL
			, VA.VALUE_SEQ
			, VA.T_VALUE
			, MA.V_XBAR
			, MA.V_RANGE
		FROM SPC_DATA_MA MA
		INNER JOIN SPC_DATA_VALUE VA ON VA.SITE = MA.SITE AND VA.LOT_ID = MA.LOT_ID AND VA.PROCESS_NAME = MA.PROCESS_NAME AND VA.ITEM_CD = MA.ITEM_CD AND VA.ITEM_SEQ = MA.ITEM_SEQ
		WHERE 1 = 1
			AND MA.ITEM_SEQ = (
				SELECT MAX(DT.ITEM_SEQ)
				FROM SPC_DATA_MA DT
				WHERE MA.LOT_ID = DT.LOT_ID
					AND DT.ITEM_CD = '10002545'
				)
			AND MA.SITE = '1000'
			AND MA.PRODUCT_NAME = '1-02-043754'
			AND MA.PROCESS_NAME = '6003005'
			AND MA.ITEM_CD = '10002545'
			AND MA.TEST_TIME BETWEEN '20200101000000' AND '20200504235959'
		ORDER BY MA.LOT_ID, VA.VALUE_SEQ
	</select>
	<select id="SPC_CHART_PROCESS_SELECT" parameterType="hashmap" resultType="hashmap">
		/* SPC_CHART_PROCESS_SELECT */
		SELECT DISTINCT MA.PROCESS_NAME
			,ST.PROCESS_DESC
		FROM SPC_DATA_MA MA
			,(
				SELECT PROCESS_NAME
					,PROCESS_DESC
					,PLANT_CODE
					,ITEM_NUMBER
				FROM STD_PROCESS_ROUTING
				) ST
		WHERE MA.PROCESS_NAME = ST.PROCESS_NAME
			AND MA.SITE = ST.PLANT_CODE
			AND MA.PRODUCT_NAME = ST.ITEM_NUMBER
			AND MA.PRODUCT_NAME = #{PRODUCT_NAME}
			AND MA.SITE = '1000'
		ORDER BY MA.PROCESS_NAME
	</select>
	<select id="SPC_CHART_ITEM_SELECT" parameterType="hashmap" resultType="hashmap">
		/* SPC_CHART_ITEM_SELECT */
		SELECT DISTINCT (ITEM_CD)
			,(
				SELECT ITEM_NM
				FROM SPC_CD_ITEM
				WHERE ITEM_CD = SPC_DATA_MA.ITEM_CD
					AND SITE = SPC_DATA_MA.SITE
				) ITEM_NM
		FROM SPC_DATA_MA
		WHERE 1 = 1
			AND PRODUCT_NAME = #{PRODUCT_NAME}
			AND PROCESS_NAME = #{PROCESS_NAME}
			AND SITE = '1000'
			AND VALUE_TYPE = 'N'
		ORDER BY ITEM_NM
	</select>
</mapper>


